<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="wizard" name="Contributions to the Vinci new wizard" schema="schema/wizard.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.nasdanika"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.vinci.presentation.VinciModelWizardID"
            name="%_UI_AppModelWizard_label"
            class="org.nasdanika.vinci.presentation.VinciModelWizard"
            category="org.nasdanika"
            icon="icons/full/obj16/Vinci.png">
         <description>%_UI_AppModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.nasdanika.vinci.presentation.VinciEditorID"
            name="%_UI_VinciEditor_label"
            icon="icons/full/obj16/Vinci.png"
            extensions="vinci"
            default="true"
            class="org.nasdanika.vinci.presentation.VinciEditor"
            contributorClass="org.nasdanika.vinci.presentation.VinciActionBarContributor">
      </editor>
      <editor
            id="org.nasdanika.vinci.app.presentation.VinciSiriusEditorID"
            name="%_UI_VinciSiriusEditor_label"
            icon="icons/full/obj16/Vinci.png"
            extensions="vinci"
            default="false"
            class="org.nasdanika.emf.presentation.NasdanikaSiriusEditor"
            contributorClass="org.nasdanika.vinci.presentation.VinciActionBarContributor">
      </editor>
      <editor
            id="org.nasdanika.vinci.presentation.VinciAdapterFactoryTreeEditor.ID"
            name="Vinci Adapter Factory Tree Editor"
            icon="icons/full/obj16/AdapterFactoryTree.png"
            class="org.nasdanika.emf.presentation.AdapterFactoryTreeEditor"
            contributorClass="org.nasdanika.vinci.presentation.VinciActionBarContributor">
      </editor>
      
   </extension>
   <extension
         point="org.nasdanika.vinci.editor.wizard">
         <configurator class="org.nasdanika.vinci.presentation.PageConfigurator"/>
         <configurator class="org.nasdanika.vinci.presentation.ActionTemplatePageConfigurator"/>         
   </extension>
   <extension
         point="org.nasdanika.cli.command">
      <command
            class="org.nasdanika.vinci.presentation.cli.VinciCommandGroup"
            id="vinci-command-group">
      </command>
      <command
            class="org.nasdanika.vinci.presentation.cli.VinciGenerateCommandGroup"
            id="vinci-generate-command-group"
            parent="org.nasdanika.vinci.editor#vinci-command-group">
      </command>
   </extension>
   
</plugin>
